@import "src/mixin/mixin.scss";

.animarionsContainer {
  @include custom-card(400px, 100px, white, 2px solid #999);
  .animations {
    @include animation(my-slide, 2s, ease-in, 2s, infinite);
  }
}

@include keyframes(my-slide) {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
